# Base de Datos (PostgreSQL)
# Levantá un Postgres local rápido con: docker compose up -d
DATABASE_URL=postgresql://polin:polin@localhost:5433/el_galpon_del_polin

# Servidor
PORT=3000                # Puerto donde correrá el backend
NODE_ENV=development      # environment: development / production
HOST=localhost            # Host del backend

# JWT
JWT_SECRET=tu_clave_secreta_super_segura_cambiar_en_produccion_12345
JWT_EXPIRE=7d             # Tiempo de expiración del token JWT

# CORS
FRONTEND_URL=http://localhost:3000   # Origen permitido para el frontend

# Logs
LOG_LEVEL=info          # Nivel de logs: info, debug, warn, error
